<html>
  <body>
    <form action="/cookies/" method="post">
      <input type="text" name="name" />
      <input type="Submit" value="Bake!" />
    </form>
    <ul>
      <ul>
        <% cookies.to_array.forEach(function (cookie) { %>
          <li>
            <%= cookie.name %>
            <form action="/cookies/eat/" method="post">
              <input type="hidden" name="name" value="<%= cookie.name %>" />
              <input type="Submit" value="Eat!" />
            </form>
        <% }); %>
      </ul>
    </ul>
  </body>
</html>
